In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   9   2   7  19  10
1   1  16   4  12  19
2   9  18  11  19   9
3   9  18  13  13   4
4   1   8  10  19   9
5  15   6   3  10   4
6  19  15   1   1   5
7   5  19  16   8   1
8  10   2  12   7  18
9   7  13  11  13   9

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   2  10
3  18   4
4   8   9

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
1  16  12  19
2  18  19   9
3  18  13   4
6  15   1   5
7  19   8   1
9  13  13   9

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   2   7  19
1  16   4  12
2  18  11  19
3  18  13  13
4   8  10  19