In [1]:
import pandas as pd

print(pd.__version__)

2.3.3

In [14]:
df = pd.read_csv(r"D:\Visual data\pandas\Iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
df['sepal_width'].to_frame().head()

   sepal_width
0          3.5
1          3.0
2          3.2
3          3.1
4          3.6

In [19]:
part = 'sepal'

df[f'{part}_width'].to_frame().head()

   sepal_width
0          3.5
1          3.0
2          3.2
3          3.1
4          3.6

In [20]:
df[['petal_width', 'petal_length']].head()

   petal_width  petal_length
0          0.2           1.4
1          0.2           1.4
2          0.2           1.3
3          0.2           1.5
4          0.2           1.4

In [21]:
part = 'petal'

df[[f'{part}_width', f'{part}_length']].head()

   petal_width  petal_length
0          0.2           1.4
1          0.2           1.4
2          0.2           1.3
3          0.2           1.5
4          0.2           1.4